---
import BackgroundIllustrationBird from "@components/BackgroundIllustrationBird.astro";
import AccordionAstro from "@components/Accordion.astro";
import type { FAQSection as FAQSectionType } from "@content/schemaFragments/sanityComponents";

type Props = {
  content: FAQSectionType;
};

const { content } = Astro.props;
---

<section
  id={content.slug}
  class:list={[
    content.sectionPadding ? "padding background" : "margin",
    "relative",
    "faq-section",
  ]}
>
  <div class="content-wrapper flow">
    <h2 class="with-mark">{content.title}</h2>
    <div class="faqs | flow">
      {
        content.list.map((faq, index) => (
          <AccordionAstro faq={faq} open={index == 0} />
        ))
      }
    </div>
  </div>
  <BackgroundIllustrationBird />
</section>

<style>
  .margin {
    margin-block: var(--section-spacer);
  }

  .padding {
    padding-block: var(--section-spacer);
  }

  .background {
    background-color: var(--color-primary-light-background);
  }

  h2 {
    font-size: var(--step-2);
  }

  .content-wrapper {
    &.flow {
      --flow-space: 3rem;
    }
  }

  .faqs {
    max-width: max(50rem, 60%);

    &.flow {
      --flow-space: 1.5rem;
    }
  }
</style>
