---
import { Image } from "astro:assets";
import type { FAQ, Person, Fellow } from "../../types";
import PersonCard from "../PersonCard.astro";
import ButtonLink from "../ButtonLink.astro";
import urlFor from "../../lib/sanity.urlForImage";
import Accordion from "../Svelte/Accordion.svelte";
import RichContent from "../RichContent.astro";
import BackgroundIllustration from "../BackgroundIllustration.astro";
import BackgroundIllustrationBird from "../BackgroundIllustrationBird.astro";

type Props = {
  content?: FAQ;
};

const { content } = Astro.props;
---

<section
  id={content?.slug}
  class:list={[
    content?.sectionPadding ? "padding background" : "margin",
    "relative",
    "faq-section",
  ]}
>
  <div class="content-wrapper flow">
    <h2 class="with-mark">{content?.title}</h2>
    <div class="faqs | flow">
      {
        content?.list?.map((faq) => (
          <Accordion client:load>
            <Fragment slot="question">{faq.question}</Fragment>
            <div class="text | flow" slot="answer">
              <RichContent content={faq.answer} />
            </div>
          </Accordion>
        ))
      }
    </div>
  </div>
  <BackgroundIllustrationBird />
</section>

<style>
  .margin {
    margin-block: var(--section-spacer);
  }

  .padding {
    padding-block: var(--section-spacer);
  }

  .background {
    background-color: var(--color-primary-light-background);
  }

  h2 {
    font-size: var(--step-2);
  }

  .content-wrapper {
    &.flow {
      --flow-space: 3rem;
    }
  }

  .faqs {
    max-width: max(50rem, 60%);

    &.flow {
      --flow-space: 1.5rem;
    }
  }
</style>
