---
import PersonCard from "@components/PersonCard.astro";
import ButtonLink from "@components/ButtonLink.astro";
import type { IndexSection as IndexSectionType } from "@content/schemaFragments/sanityComponents";
import { getCollection } from "astro:content";

type Props = {
  content: IndexSectionType;
  padding?: boolean;
  background?: boolean;
  filterYear?: number;
};

const { content, filterYear = null } = Astro.props;

const fellows = await getCollection(
  "fellows",
  ({ data }) => data.fellowshipYear.year === filterYear,
);
---

<section
  id={content.slug}
  class:list={[content.sectionPadding ? "padding background" : "margin"]}
>
  <div class="index-section | content-wrapper flow">
    <h2 class="with-mark">{content.title}</h2>
    <div class="responsive-grid">
      {
        fellows.length > 0 &&
          fellows
            .sort((a, b) => {
              if (a.data.name.lastName === b.data.name.lastName) {
                return a.data.name.firstName > b.data.name.firstName ? 1 : -1;
              }
              return a.data.name.lastName > b.data.name.lastName ? 1 : -1;
            })
            .map((fellow) => <PersonCard person={fellow} />)
      }
      <!-- {
        filterYear
          ? content?.entries
              ?.filter(
                (indexEntry) =>
                  (indexEntry as Fellow).fellowshipYear?.year == filterYear,
              )
              .map((indexEntry) => <PersonCard person={indexEntry as Person} />)
          : content?.entries?.map((indexEntry) => {
              return <PersonCard person={indexEntry as Person} />;
            })
      } -->
    </div>
    {
      content.linkObject && (
        <ButtonLink linkObject={content?.linkObject} withArrow />
      )
    }
  </div>
</section>

<style>
  .margin {
    margin-block: var(--section-spacer);
  }

  .padding {
    padding-block: var(--section-spacer);
  }

  .background {
    background-color: var(--color-primary-light-background);
  }

  h2 {
    font-size: var(--step-2);
  }

  .content-wrapper {
    &.flow {
      --flow-space: 3rem;
    }
  }

  .responsive-grid {
    /* --grid-gap: 2rem; */
    /* --item-min-width: 12rem;
    --item-max-width: 14rem; */
    --item-min-width: 16rem;
    /* --item-max-width: 18rem; */
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;
    /* --item-max-width: 14rem; */
  }

  @media (max-width: 768px) {
    .responsive-grid {
      grid-row-gap: 2.5rem;
    }
  }
</style>
