---
import type { Hero } from "../../types/index";
import PageNav from "./PageNav.astro";
import { Image } from "astro:assets";
import urlFor from "../../lib/sanity.urlForImage";
import { SITE_SETTINGS } from "../../lib/defaults";

type Props = {
  content?: Hero;
  navigation?: any;
};

const { content, navigation } = Astro.props;
---

<article>
  <div class="content-wrapper">
    <div class="text | flow">
      <header>
        <p class="small-title">{SITE_SETTINGS.title}</p>
        <h1>{content?.title}</h1>
      </header>
      <p>{content?.text}</p>
    </div>
  </div>
  <Image
    class="bg-image lqip-preview"
    src={urlFor(content?.image!).width(1920).height(1080).auto("format").url()}
    width={1920}
    height={1080}
    alt=""
    format="webp"
    loading="eager"
  />
</article>
<PageNav navigation={navigation} />

<style>
  article {
    position: relative;
    color: var(--color-primary-light);
    padding-block-start: calc(var(--section-spacer) + var(--space-m));
    padding-block-end: calc(var(--section-spacer) * 0.75);
    background: var(--color-background-gradient);
    overflow: hidden;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 70%;

    &.flow {
      --flow-space: 2rem;
    }

    & h1 {
      color: var(--color-white);
      text-wrap: pretty;
      margin-block-start: 1rem;
    }

    & .small-title {
      opacity: var(--text-opacity-shade);
    }

    & header + p {
      font-size: var(--step-1);
      text-wrap: balance;
    }
  }

  .bg-image {
    opacity: 0.3;
    filter: saturate(0);
    mix-blend-mode: multiply;
    mask-image: linear-gradient(to right, transparent, black);
  }

  @media (max-width: 768px) {
    .text {
      width: 100%;

      & header + p {
        text-wrap: auto;
      }
    }

    .bg-image {
      mask-image: linear-gradient(to right, transparent 30%, black);
    }
  }
</style>
