---
import ButtonLink from "@components/ButtonLink.astro";
import type { LinkCTASection } from "@content/schemaFragments/sanityComponents";

type Props = {
  content: LinkCTASection;
};

const { content } = Astro.props;
---

<div class="center-all content-wrapper">
  {
    content.linkObject && (
      <ButtonLink linkObject={content.linkObject} withArrow />
    )
  }
</div>

<style>
  div {
    margin-block: var(--section-spacer);
  }

  /* :is(.fist-left, .fist-right) {
    position: absolute;
    z-index: -1;
    height: 160px;
    opacity: 0.25;
    left: 50%;
    bottom: calc(var(--section-spacer) * -1 - 1rem);
  }

  .fist-left {
    left: 40%;
    transform: translateX(-50%) rotate(-15deg);
  }

  .fist-right {
    left: 60%;
    transform: translateX(-50%) rotate(15deg);
  }

  .fist-birds {
    position: absolute;
    z-index: -1;
    height: 100px;
    opacity: 0.25;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    .fist-left {
      height: 200px;
      left: 15%;
      opacity: 0.15;
      transform: translateX(-50%) rotate(-15deg);
    }

    .fist-right {
      height: 200px;
      left: 85%;
      opacity: 0.15;
      transform: translateX(-50%) rotate(15deg);
    }

    .fist-birds {
      height: 90px;
      top: -2rem;
    }
  } */
</style>
