---
import type { PageNavigation } from "../../types";

type Props = {
  navigation?: PageNavigation;
};

const { navigation } = Astro.props;
// console.log("PageNav", navigation);
---

<section>
  <div class="content-wrapper cluster">
    <p class="small-title">On this page:</p>
    <nav>
      <ul class="cluster" role="list">
        {
          navigation?.map((navItem) => {
            return (
              <li>
                <a class="link" href={`#${navItem.slug}`}>
                  {navItem.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</section>

<style>
  section {
    padding-block: 1rem;
    background-color: color-mix(
      in srgb,
      var(--color-primary-light),
      transparent 40%
    );
  }

  .small-title {
    color: var(--color-primary-base);
  }

  nav {
    & .cluster {
      --cluster-space: 1.5rem;
    }

    & .link {
      text-decoration-color: color-mix(
        in srgb,
        var(--color-primary-base),
        transparent 60%
      );
      transition: all 0.2s ease;

      &:hover {
        text-decoration-color: var(--color-primary-base);
        color: var(--color-primary-base);
      }
    }
  }
</style>
