---
import Layout from "../layouts/Layout.astro";
import HomeBlueprint from "../components/PageBlueprints/HomeBlueprint.astro";
import { sanityClient } from "sanity:client";
import { pageQuery } from "../lib/sanity.queries";
import type { PagePayload } from "../types";

const query = await sanityClient.fetch<PagePayload[]>(pageQuery, {
  page: "homepage",
  // How to get year here without calling settings query twice (on layout and pages)
  fellowshipYear: 2024,
});
const home = query[0];
// console.log(home);
---

<Layout>
  <main slot="content">
    <HomeBlueprint page={home} />
  </main>
</Layout>
