---
import Layout from "@layouts/Layout.astro";
import HomeBlueprint from "@components/PageBlueprints/HomeBlueprint.astro";
import generatePageMetadata from "@utils/generatePageMetadata";
import { getEntry } from "astro:content";

const page = await getEntry("pages", "homepage");
const path = Astro.url.pathname;
---

<Layout
  meta={generatePageMetadata(page?.data.metadata, page?.data.title, path)}
>
  <main slot="content">
    {page && page.data.type === "homepage" && <HomeBlueprint page={page} />}
  </main>
</Layout>
