---
import RichContent from "./RichContent.astro";
import "../styles/rich-content.css";
import { type CollectionEntry } from "astro:content";

type Props = {
  fellow: CollectionEntry<"fellows">;
};

const { fellow } = Astro.props;

function toMb(num: number) {
  return `${(num / 1000000).toFixed(2)} MB`;
}
---

<figure class="audio-player | flow">
  {
    fellow.data.media?.content && (
      <figcaption class="rich-content">
        <RichContent content={fellow.data.media?.content} />
      </figcaption>
    )
  }
  <audio src={fellow.data.media?.file?.url} controls></audio>
  <a class="text-step--1" href={`${fellow.data.media?.file?.url}?dl=`}
    >Download audio {
      fellow.data.media?.file?.size && (
        <span>({toMb(fellow.data.media?.file?.size)})</span>
      )
    }</a
  >
</figure>

<style>
  audio {
    margin-inline: -6px;
  }

  @media (max-width: 640px) {
    audio {
      max-width: 100%;
    }
  }
</style>
